<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQRjjs5dv1of0qd7RGZ8FhcJ0RIsQgbu8</string>
	<key>GCM_SENDER_ID</key>
	<string>1072248244520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alnour</string>
	<key>PROJECT_ID</key>
	<string>alnour-e081c</string>
	<key>STORAGE_BUCKET</key>
	<string>alnour-e081c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072248244520:ios:f390e91a8352c77e14a81d</string>
	<key>DATABASE_URL</key>
	<string>https://alnour-e081c-default-rtdb.firebaseio.com</string>
</dict>
</plist>